# Things ignored when installing the extension
.gitignore
.github/**
.devcontainer/**
.vscode/**
assets/**
build/**
node_modules/**
out/**
src/**
**/tsconfig.json
**/.prettier*
.vscode-test.mjs
CONTRIBUTING.md
Docker*
*docker*
eslint.config.mjs
justfile
tsconfig.json
webpack.config.js

# Explicitly include bin directory for bundled just-lsp binaries
!bin/**
