# Things ignored when installing the extension
.gitignore
.github/**
.devcontainer/**
.vscode/**
.vscode-test/**
assets/**
build/**
node_modules/**
out/**
src/**
tests/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
CONTRIBUTING.md
Docker*
*docker*
webpack.config.js
